@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Добро пожаловать в Doc storage</h3>

<p>Данный сайт предназначен для хранения документов</p>
<p>Для работы необходимо авторизоваться </p>
