@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Данный сайт разработан в целях выполнения входного задания в Elma<br />

</address>

<address>
    <strong>Support:</strong>   <a href="Safronov.exco@yandex.ru">"Safronov.exco@yandex.ru"</a><br />
</address>