
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Мои Документы", "Documents", "Documents")</li>
                <li>@Html.ActionLink("Поделились со мной", "ShowShareDocuments", "Documents")</li>
            </ul>
        </div>
    </div>